.Feat {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    width: 100%;
}

img.Feat-img {
    width: 80%;
    height: auto;
    z-index: 1;
    position: absolute;
}

.TEXT-FEAT{
margin: auto;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
color: #ffffff;
}

h1.F-Title{
font-size: 48px;
}

h3.F-SubTitle{
    font-size: 36px;
}