@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cormorant+SC:wght@300;400;500;600;700&family=Della+Respira&family=Italiana&family=Marcellus+SC&display=swap');

.FeatureContainer {
  position: relative;
  width: 100%;
  height: 160vh;
  margin-top: 160px;
}

img.last-torn-feat {
  height: auto;
  z-index: 1;
  position: relative;
  width: 100%;
  margin-top: -120px;
}

.SparklesPreview {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -175px;
}

.F-Title, .F-SubTitle {
  position: relative;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px; /* Reduced margin */
  z-index: 1; /* Ensure text is above particles */
}

h1.F-Title {
  font-size: 56px;
  font-family: "Italiana", sans-serif;
}

h3.F-SubTitle {
  font-size: 36px;
  font-family: "Cinzel Decorative", serif;
}

.gradient-line {
  position: relative;
  width: 80%;
  height: 2px;
  margin: 0 auto;
  background: linear-gradient(to right, transparent, #ffffff, transparent); /* Adjust gradient colors as needed */
  z-index: 2; /* Ensure gradient line is above particles */
}

.sparkles-container {
  position: absolute;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
  top: calc(45% + 10px); /* Adjusted position to reduce gap */
  left: 0;
  width: 100%;
  height: 50%; /* Adjusted height */
  overflow: hidden;
}

.sparkles-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.Feat {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.Feat-img {
  width: 80%;
  height: auto;
  margin: auto;
}

.TEXT-FEAT {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #ffffff;
  margin-top: 10px; /* Reduced margin */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

@media (min-width: 450px) and (max-width: 768px) {

}

@media (max-width: 450px) {
  h1.F-Title {
    font-size: 40px;
  }

  h3.F-SubTitle {
    font-size: 27px;
  }

  .FeatureContainer {
    position: relative;
    width: 100%;
    height: 90vh;
  }

  img.last-torn-feat {
    margin-top: -30px;
  }

  .Feat-img {
    width: 100%;
    height: auto;
  }

  .FeatureContainer {
    margin-top: 10px;
  }
}
