.container-pyq {
  height: 100vh;
  width: 100%;
  background-color: #0b1020;
  position: relative;
  left: 0;
  user-select: none;
  overflow: hidden;
}

.text-pyq {
  margin: auto;
  text-align: center;
}

.h1pyq {
  font-size: 48px;
  color: #fff;
  margin-bottom: 10px;
}

.h3pyq {
  font-size: 36px;
  color: #fff;
}

.center-pyq {
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 28%;
  transform: translate(-50%);
  user-select: none;
}

.items-pyq {
  transform-origin: center 200vh;
  transform: rotate(0);
  user-select: none;
  display: flex;
  transition: transform 1s ease-out;
}

.item-pyq {
  position: absolute;
  user-select: none;
  cursor: pointer;
  transform: translateX(-50%);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.card-pyq {
  display: block;
  width: 300px;
  height: 423px;
  color: #fff;
  user-select: none;
  border-radius: 17px;
  overflow: hidden;
  cursor: grab;
  position: relative;
  border: 10px solid black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-pyq:active {
  cursor: grabbing;
}

.card-pyq:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.image-pyq {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale(100%);
  pointer-events: none;
  transition: filter 0.3s ease;
}

.card-pyq:hover .image-pyq {
  filter: grayscale(0%);
}

@media screen and (max-height: 1000px) {
  .card-pyq {
    width: 350px;
    height: 497px;
  }
}

@media screen and (max-height: 800px) {
  .card-pyq {
    width: 300px;
    height: 400px;
  }
}
