.container-pyq {
  height: 100vh;
  width: 100%;
  background-color: #0b1020;
  position: relative;
  left: 0;
  user-select: none;
  overflow: hidden;
}

.text-pyq {
  margin: auto;
  text-align: center;
}

.h1pyq {
  font-size: 48px;
  color: #fff;
  margin-bottom: 10px;
}

.h3pyq {
  font-size: 36px;
  color: #fff;
}

.center-pyq {
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 28%;
  transform: translate(-50%);
  user-select: none;
}

.items-pyq {
  transform-origin: center 200vh;
  transform: rotate(0);
  user-select: none;
  display: flex;
  justify-content: center; /* Ensure items are centered horizontally */
  align-items: center; /* Ensure items are centered vertically */
  height: 80%; /* Adjust height to fit items properly */
  width: 100%; /* Ensure items cover the entire width */
}

.item-pyq {
  position: absolute;
  user-select: none;
  cursor: pointer;
  transform: translate(-50%);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.image-pyq {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale(100%);
  pointer-events: none;
  transition: filter 0.3s ease;
}
