.right-cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 300px;
    margin-top: 50px;
}


@media (max-width: 768px) {
    .right-cont{
        margin-left: 140px;
        margin-top: 150px;
    }
}
