:root {
  --main-line-color: hsla(231, 19%, 73%, 0.09);
  --side-line-color: hsl(350, 100%, 91%);
  --paper-color: hsl(0, 0%, 10%);
  --ink-color: hsl(0, 0%, 100%);
  --line-thickness: 2.5px;
  --top-space: 4lh;
}

img.last-torn {
  width: 100%;
  height: auto;
  z-index: 1;
  position: absolute;
  margin-top: -100px;
}

img.lastimg {
  width: 150px;
  height: auto;
  z-index: 1;
  float: right;
  display: flex;
  position: relative;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: -150px;
}

h3.infoot {
  font-size: 30px;
  color: hsl(0, 0%, 100%);
}

.paper {
  text-shadow: 1px 2px 4px rgba(31, 0, 0, 1);
  background: var(--paper-color);
  bottom: 0;
  width: 100%;
  left: 0px;
  padding: calc(var(--top-space) - 0.5lh) 3rem 1rem 5.5rem;
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--ink-color);
  background-image: 
    linear-gradient(
      90deg,
      transparent,
      transparent 4rem,
      var(--side-line-color) 4rem,
      var(--side-line-color) 4.25rem,
      transparent 4.25rem
    ),
    linear-gradient(
      var(--paper-color),
      var(--paper-color) var(--top-space),
      transparent var(--top-space)
    ),
    repeating-linear-gradient(
      transparent,
      transparent calc(1lh - var(--line-thickness)),
      var(--main-line-color) calc(1lh - var(--line-thickness)),
      var(--main-line-color) 1lh,
      transparent 1lh
    );
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.25);
  position: relative;
}

/* Responsive adjustments */
@media (min-width: 480px) and (max-width: 768px) {
  .paper {
    padding: calc(var(--top-space) - 0.5lh) 2rem 1rem 4rem;
    font-size: 1.2rem;
  }

  .foot {
    font-size: 36px;
  }

  h3.infoot {
    font-size: 24px;
  }

  .social {
    font-size: 24px;
  }

  img.lastimg {
    width: 120px;
    margin-top: -60px;
  }
}

@media (max-width: 480px) {
  img.last-torn {
    margin-top: -21px;
  }

  .paper {
    padding: calc(var(--top-space) - 0.5lh) 1rem 1rem 4.7rem;
    font-size: 1rem;
  }

  .foot {
    font-size: 24px;
    word-wrap: break-word;
    white-space: normal;
  }

  h3.infoot {
    font-size: 18px;
  }

  .social {
    font-size: 18px;
  }

  img.lastimg {
    width: 100px;
    display: none;
    margin-top: -50px;
  }
}

span.foot {
  font-size: 48px;
  display: flex !important;
  position: relative;
  z-index: 1;
  color: aliceblue;
  display: inline-block;
  padding: 0 0.1em;
  pointer-events: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

}

.input-group {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
  width: 100%;
}

.user-label {
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, .input:valid {
  outline: none;
  border: 1.5px solid #1a73e8;
}

.input:focus ~ .user-label, .input:valid ~ .user-label {
  transform: translateY(-50%) scale(0.8);
  background-color: #212121;
  padding: 0 .2em;
  color: #2196f3;
}

button.btnfoot {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button.btnfoot:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button.btnfoot:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  font-size: 36px;
}

.social a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.5rem;
  transition: color 0.3s;
}

.social a:hover {
  color: #000000;
}
