@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&family=Berkshire+Swash&family=Cardo&family=Cinzel+Decorative:wght@700&family=Handjet:wght@300&family=Handlee&family=Lato&family=Lilita+One&family=Lobster&family=Lora:ital,wght@1,500&family=Lugrasimo&family=Merienda:wght@700&family=Monoton&family=Nunito&family=Oswald:wght@700&family=Poppins&family=Roboto:wght@300&family=Shrikhand&family=Special+Elite&family=VT323&family=Victor+Mono:wght@100&family=Yatra+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    position: relative;
  }

  
  body{
    background-color: #252525;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
  }